@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Alışveriş için tıklayınız. <a href="https://www.englishhome.com">English Home Mağazacılık Müşteri Memnuniyeti Anketi</a>.</p>
</div>
