@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>
        <a href="https://www.englishhome.com" style="color: blue; text-decoration: underline;">
            Alışveriş için tıklayınız.
        </a>
    </p>
</div>
